/* colors */
$colorBlack: {{ .Site.Params.colors.black | default "#222222"}};
$colorWhite: {{ .Site.Params.colors.white | default "#fafafa"}};
$colorGrey: {{ .Site.Params.colors.grey | default "#dcdde1"}};
$colorRed:  {{ .Site.Params.colors.red | default "#e84118"}};
$colorBlue: {{ .Site.Params.colors.blue | default "#00a8ff"}};
$colorGreen: {{ .Site.Params.colors.green | default "#4cd137"}};
$colorYellow: {{ .Site.Params.colors.yellow | default "#fbc531"}};
$colorPurple: {{ .Site.Params.colors.purple | default "#9c88ff"}};
// base
@import "./base/variables.scss";
@import "./base/base.scss";
@import "./base/typography.scss";
@import "./base/elements.scss";
// layout
@import "./layout/container.scss";
@import "./layout/row.scss";
@import "./layout/columns.scss";
@import "./layout/utilities.scss";
// components
@import "./components/header.scss";
@import "./components/navigation.scss";
@import "./components/posts.scss";
@import "./components/images.scss";
@import "./components/author.scss";
@import "./components/pagination.scss";
@import "./components/sidebar.scss";
@import "./components/search.scss";
@import "./components/footer.scss";
@import "./components/404.scss";
