.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  &::before {
    background-color: $colorBlack;
    display: inline-block;
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    width: 90%;
  }
}

@media (prefers-color-scheme: dark) {
  .footer {
    &::before {
      background-color: lighten($colorBlack, 30);
    }
  }
}
