.image {
  padding-bottom: 50%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.banner-image {
  padding-bottom: 25%;
  border-radius: $borderRadius;
  box-shadow: $boxShadowBottom;
}