.image {
  padding-bottom: 50%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.banner-image {
  padding-bottom: 25%;
  border-radius: $borderRadius;
  box-shadow: $boxShadowBottom;
}

figure {
  img {
    box-shadow: $boxShadow;
    margin-bottom: 1rem;
  }

  padding-top: 1rem;
  padding-bottom: 1rem;
  border-top: 1px solid darken($colorWhite, 20);
  border-bottom: 1px solid darken($colorWhite, 20);
}

@media (prefers-color-scheme: dark) {
  figure {
    border-bottom: 1px solid lighten($colorBlack, 10);
  }
}