.main-navigation {
  margin-left: auto;
}

nav {
  ul {
    list-style: none;
    li {
      a {
        text-decoration: none;
        color: $colorBlack;
      }
    }
  }
}

@media (prefers-color-scheme: dark) {
  nav {
    ul {
      li {
        a {
          color: $colorWhite;
          &:visited {
            color: $colorWhite;
          }
        }
      }
    }
  }
}
