.pagination {
  &-list {
    list-style: none;
    &-item {
      display: inline-block;
      border: 2px solid $colorBlack;
      border-radius: $borderRadius;
      &-link {
        color: $colorBlack;
        &:visited {
          color: $colorBlack;
        }
        display: inline-block;
        padding: #{$spacing-s / 2};
      }
    }
  }
}

@media (prefers-color-scheme: dark) {
  .pagination {
    &-list {
      &-item {
        border: 2px solid $colorWhite;
        &-link {
          color: $colorWhite;
          &:visited {
            color: $colorWhite;
          }
        }
      }
    }
  }
}
