.posts {
  &-list {
    list-style: none;
    &-item {
      padding: #{$spacing-l / 2};
      border-radius: $borderRadius;
      background-color: darken($colorWhite, 10);
      &:last-child {
        margin-bottom: 0px;
      }
      &-title {
        color: $colorBlack;
        display: block;
        text-decoration: none;
      }
    }
  }
}

.post {
  &-title {
    font-size: 6vh;
  }
  &-content {
    & > * {
      line-height: 1.5;
      margin-bottom: $spacing-s;
    }
    ol,
    ul {
      li {
        margin-bottom: calc(#{$spacing-s} / 2);
        &::marker {
          display: inline;
        }
        & > * {
          display: inline;
        }
      }
    }
  }
}

@media (prefers-color-scheme: dark) {
  .posts {
    &-list {
      &-item {
        background-color: darken($colorBlack, 10);
        &:last-child {
          margin-bottom: 0px;
        }
        &-title {
          color: $colorWhite;
        }
      }
    }
  }
}
