.posts {
  &-list {
    list-style: none;
    &-item {
      padding: #{$spacing-l / 2};
      border-radius: $borderRadius;
      background-color: darken($colorWhite, 10);
      &:last-child {
        margin-bottom: 0px;
      }
      span {
        font-weight: 600;
      }
      &-title {
        font-size: 6vh;
        color: $colorBlack;
      }
      &-link {
        color: $colorBlack;
        display: block;
        text-decoration: none;
      }
    }
  }
}

.post {
  &-title {
    font-size: 6vh;
  }
  &-meta {
    border-radius: $borderRadius;
    border-bottom: 3px solid darken($colorWhite, 20);
    background-color: darken($colorWhite, 10);
    span {
      font-weight: 600;
    }
  }
  &-content {
    & > * {
      line-height: 2;
      margin-bottom: $spacing-s;
    }
    h1, h2, h3 {
      line-height: 1.5;
      margin-bottom: 2rem;
    }
    ol,
    ul {
      li {
        margin-top: calc(#{$spacing-s} / 2);
        margin-bottom: calc(#{$spacing-s} / 2);
        &::marker {
          display: inline;
        }
        & > * {
          display: inline;
        }
      }
    }
  }
}

@media (prefers-color-scheme: dark) {
  .posts {
    &-list {
      &-item {
        background-color: darken($colorBlack, 10);
        &:last-child {
          margin-bottom: 0px;
        }
        &-title {
          color: $colorWhite;
        }
        &-link {
          color: $colorWhite;
        }
      }
    }
  }

  .post {
    &-meta {
      background-color: darken($colorBlack, 10);
      border-bottom: 3px solid lighten($colorBlack, 20);
    }
  }
}
