@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400");
/* ------- typography --------- */

/* headings */
.heading__primary,
.heading__secondary {
  color: $colorBlack;
  display: block;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 2rem;
  line-height: 2.25;
  span {
    display: inline-block;
  }
}

.heading__primary {
  &-light {
    color: $colorWhite;
  }
}

/* parapragh */
.paragraph {
  font-size: $fontSize;
  color: $colorBlack;
  font-weight: 300;
  line-height: 2;
  &:not(:last-child) {
    margin-bottom: $spacing-s;
  }
}

.bounce {
  font-size: 50px;
  display: block;
  text-align: center;
  animation: bounce 1.75s infinite;
}

.introBounce {
  animation: bounce 1.5s 6;
}

code {
  display: block;
  position: relative;
  padding: $spacing-s;
  margin-top: $spacing-s;
  margin-bottom: $spacing-s;
  background-color: $colorBlack;
  color: $colorWhite;
  &::before {
    display: inline-block;
    background-color: $colorGreen;
    content: "";
    height: 100%;
    width: 4px;
    position: absolute;
    top: 0;
    left: 0;
  }
}

ol,
ul {
  list-style-position: inside;
}

a {
  color: $colorBlue;
  text-decoration: none;
  &:visited {
    color: $colorPurple;
  }
}

@media (prefers-color-scheme: dark) {
  .heading__primary,
  .heading__secondary {
    color: $colorWhite;
  }

  code {
    background-color: lighten($colorBlack, 10);
    color: $colorWhite;
  }
}
