/* ------- typography --------- */

/* title font */
@font-face {
  font-family: 'Merriweather', serif;
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url('../../fonts/merriweather/Merriweather-Light.ttf');
}

@font-face {
  font-family: 'Merriweather', serif;
  font-weight: 300;
  font-style: italic;
  font-display: swap;
  src: url('../../fonts/merriweather/Merriweather-LightItalic.ttf');
}

@font-face {
  font-family: 'Merriweather', serif;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('../../fonts/merriweather/Merriweather-Regular.ttf');
}

@font-face {
  font-family: 'Merriweather', serif;
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url('../../fonts/merriweather/Merriweather-Italic.ttf');
}

@font-face {
  font-family: 'Merriweather', serif;
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url('../../fonts/merriweather/Merriweather-Bold.ttf');
}

@font-face {
  font-family: 'Merriweather', serif;
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src: url('../../fonts/merriweather/Merriweather-BoldItalic.ttf');
}

@font-face {
  font-family: 'Merriweather', serif;
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  src: url('../../fonts/merriweather/Merriweather-Black.ttf');
}

@font-face {
  font-family: 'Merriweather', serif;
  font-weight: 900;
  font-style: italic;
  font-display: swap;
  src: url('../../fonts/merriweather/Merriweather-BlackItalic.ttf');
}

/* body font */
@font-face {
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  font-style: normal;
  font-display: swap;
  src: url('../../fonts/Poppins/Poppins-Thin.ttf');
}

@font-face {
  font-family: 'Poppins', serif;
  font-weight: 100;
  font-style: italic;
  font-display: swap;
  src: url('../../fonts/Poppins/Poppins-ThinItalic.ttf');
}

@font-face {
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  font-style: normal;
  font-display: swap;
  src: url('../../fonts/Poppins/Poppins-ExtraLight.ttf');
}

@font-face {
  font-family: 'Poppins', serif;
  font-weight: 200;
  font-style: italic;
  font-display: swap;
  src: url('../../fonts/Poppins/Poppins-ExtraLightItallic.ttf');
}

@font-face {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url('../../fonts/Poppins/Poppins-Light.ttf');
}

@font-face {
  font-family: 'Poppins', serif;
  font-weight: 300;
  font-style: italic;
  font-display: swap;
  src: url('../../fonts/Poppins/Poppins-LightItallic.ttf');
}

@font-face {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('../../fonts/Poppins/Poppins-Regular.ttf');
}

@font-face {
  font-family: 'Poppins', serif;
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url('../../fonts/Poppins/Poppins-Itallic.ttf');
}

@font-face {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url('../../fonts/Poppins/Poppins-Medium.ttf');
}

@font-face {
  font-family: 'Poppins', serif;
  font-weight: 500;
  font-style: italic;
  font-display: swap;
  src: url('../../fonts/Poppins/Poppins-MediumItallic.ttf');
}

@font-face {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url('../../fonts/Poppins/Poppins-SemiBold.ttf');
}

@font-face {
  font-family: 'Poppins', serif;
  font-weight: 600;
  font-style: italic;
  font-display: swap;
  src: url('../../fonts/Poppins/Poppins-SemiBoldItallic.ttf');
}

@font-face {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url('../../fonts/Poppins/Poppins-Bold.ttf');
}

@font-face {
  font-family: 'Poppins', serif;
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src: url('../../fonts/Poppins/Poppins-BoldItallic.ttf');
}

@font-face {
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src: url('../../fonts/Poppins/Poppins-ExtraBold.ttf');
}

@font-face {
  font-family: 'Poppins', serif;
  font-weight: 800;
  font-style: italic;
  font-display: swap;
  src: url('../../fonts/Poppins/Poppins-ExtraBoldItallic.ttf');
}

@font-face {
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  src: url('../../fonts/Poppins/Poppins-Black.ttf');
}

@font-face {
  font-family: 'Poppins', serif;
  font-weight: 900;
  font-style: italic;
  font-display: swap;
  src: url('../../fonts/Poppins/Poppins-BlackItallic.ttf');
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $titleFont;
  font-weight: 700;
}

h1 {
  font-size: 4vh;
}

h2 {
  font-size: 3.5vh;
}

h3 {
  font-size: 3.25vh;
}

h4 {
  font-size: #{$fontSize * 1.25};
}

h5 {
  font-size: #{$fontSize * 1.15};
}

h6 {
  font-size: $fontSize;
}

p {
  font-size: $fontSize;
  color: $colorBlack;
  font-weight: 400;
  line-height: 2;
  &:not(:last-child) {
    margin-bottom: $spacing-s;
  }
}

.bounce {
  font-size: 50px;
  display: block;
  text-align: center;
  animation: bounce 1.75s infinite;
}

pre code {
  white-space: pre;
  overflow: auto;
  line-height: 2;
  display: inline-block;
  position: relative;
  color: $colorWhite;
  padding: $spacing-s;
  & > * {
    max-width: 100%;
  }
}

code,
blockquote {
  position: relative;
  background-color: $colorBlack;
  color: $colorWhite;
  border-radius: $borderRadius;
  padding: 4px $spacing-s 4px $spacing-s;
  white-space: nowrap;
  &::before {
    display: inline-block;
    background-color: $colorGreen;
    content: '';
    height: 100%;
    width: 4px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: $borderRadius;
  }
}

ol,
ul {
  list-style-position: inside;
  li {
    font-size: $fontSize;
    color: $colorBlack;
    font-weight: 400;
  }
}

em {
  padding: 5px 10px;
  background-color: darken($colorWhite, 10);
}

a {
  color: $colorBlue;
  text-decoration: none;
  &:visited {
    color: $colorPurple;
  }
}

@media (prefers-color-scheme: dark) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $colorWhite;
  }

  p {
    color: $colorWhite;
  }

  ul,
  ol {
    li {
      color: $colorWhite;
    }
  }

  code {
    background-color: lighten($colorBlack, 10);
    color: $colorWhite;
  }

  em {
    background-color: darken($colorBlack, 10);
  }
}
