@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* ------- typography --------- */

/* headings */
.heading__primary,
.heading__secondary {
  color: $colorBlack;
  display: block;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 2rem;
  line-height: 2.25;
  span {
    display: inline-block;
  }
}

.heading__primary {
  &-light {
    color: $colorWhite;
  }
}

/* parapragh */
p {
  font-size: $fontSize;
  color: $colorBlack;
  font-weight: 300;
  line-height: 2;
  &:not(:last-child) {
    margin-bottom: $spacing-s;
  }
}

.bounce {
  font-size: 50px;
  display: block;
  text-align: center;
  animation: bounce 1.75s infinite;
}

code {
  display: block;
  position: relative;
  padding: $spacing-s;
  margin-top: $spacing-s;
  margin-bottom: $spacing-s;
  background-color: $colorBlack;
  color: $colorWhite;
  &::before {
    display: inline-block;
    background-color: $colorGreen;
    content: "";
    height: 100%;
    width: 4px;
    position: absolute;
    top: 0;
    left: 0;
  }
}

ol,
ul {
  list-style-position: inside;
  li {
    font-size: $fontSize;
    color: $colorBlack;
    font-weight: 300;
  }
}

a {
  color: $colorBlue;
  text-decoration: none;
  &:visited {
    color: $colorPurple;
  }
}

@media (prefers-color-scheme: dark) {
  .heading__primary,
  .heading__secondary {
    color: $colorWhite;
  }

  p {
    color: $colorWhite;
  }

  ul,
  ol {
    li {
      color: $colorWhite;
    }
  }

  code {
    background-color: lighten($colorBlack, 10);
    color: $colorWhite;
  }
}
