/* colors */
$colorPrimary: #273c75;
$colorSecondary: #f1c40f;
$colorBlack: #2f3640;
$colorWhite: #f5f6fa;
$colorGrey: #dcdde1;
$colorRed: #e84118;
$colorBlue: #00a8ff;
$colorGreen: #4cd137;
$colorYellow: #fbc531;
$colorPurple: #9c88ff;

/* font */
$fontSize: 1rem;
$titleFont: "Montserrat", sans-serif;
$bodyFont: "Montserrat", sans-serif;

/* spacing */
$spacing-s: 1rem;
$spacing-m: 2rem;
$spacing-l: 3rem;



