/* font */
$fontSize: 1rem;
$titleFont: "Merriweather", serif;
$bodyFont: "Poppins", sans-serif;

/* spacing */
$spacing-s: 1rem;
$spacing-m: 2rem;
$spacing-l: 3rem;

/* design features */
$borderRadius: 6px;
$boxShadow: 0px 3px 6px $colorBlack;
