{{ define "main" }}
<div class="posts p-1">
  <ul class="posts-list">
    {{ range where .Paginator.Pages "Type" "!=" "page" }}
    <li class="posts-list-item m-b-l">
      <h3 class="posts-list-item-title m-b-m"><a class="posts-list-item-link" href="{{ .Permalink }}">{{ .Title }}</a>
      </h3>
      <span class="posts-list-item-description">
        <div class="m-b-s">
          Posted on: {{ .PublishDate.Format "Jan 2, 2006" }}
        </div>
        <div>
          Reading time: {{ .ReadingTime }} min read
        </div>
      </span>
    </li>
    {{ end }}
  </ul>
  {{ partial "pagination.html" $ }}
</div>
{{ end }}