.col {
  &-12 {
    width: 100%;
  }
  &-8 {
    width: 66.7%;
  }
  &-6 {
    width: 50%;
  }
  &-4 {
    width: 33.3%;
  }
  &-3 {
    width: 25%;
  }
  @media only screen and (max-width: 1200px) {
    &-lg-12 {
      width: 100%;
    }
    &-lg-8 {
      width: 66.7%;
    }
    &-lg-6 {
      width: 50%;
    }
    &-lg-4 {
      width: 33.3%;
    }
    &-lg-3 {
      width: 25%;
    }
  }
  @media only screen and (max-width: 992px) {
    &-md-12 {
      width: 100%;
    }
    &-md-8 {
      width: 66.7%;
    }
    &-md-6 {
      width: 50%;
    }
    &-md-4 {
      width: 33.3%;
    }
    &-md-3 {
      width: 25%;
    }
  }
  @media only screen and (max-width: 768px) {
    &-sm-12 {
      width: 100%;
    }
    &-sm-8 {
      width: 66.7%;
    }
    &-sm-6 {
      width: 50%;
    }
    &-sm-4 {
      width: 33.3%;
    }
    &-sm-3 {
      width: 25%;
    }
  }
  @media only screen and (max-width: 576px) {
    &-xs-12 {
      width: 100%;
    }
    &-xs-6 {
      width: 50%;
    }
    &-xs-4 {
      width: 33.3%;
    }
    &-xs-3 {
      width: 25%;
    }
  }
}
