<header class="header p-2">
  <div class="header__title">
    <h1><a href="{{ "" | relURL }}">{{ .Site.Title }}</a></h1>
  </div>
  {{- with .Site.Menus.main }}
  <div class="main-navigation">
    <nav class="navigation">
      <div class="main-navigation-container relative">
        <div class="mobile-nav-close">
          <span class="mobile-nav-close-icon"></span>
        </div>
        <ul class="navigation-list">
          {{- range $key, $item := . }}
          {{- if ne $key 0 }}
          {{ end }}
          <li class="navigation-item">
            <a class="navigation-link" href="{{ $item.URL }}">{{ $item.Name }}</a>
          </li>
          {{- end }}
        </ul>
      </div>
    </nav>
  </div>
  <div class="mobile-nav-open">
    <span class="mobile-nav-open-icon"></span>
  </div>
  {{- end }}
</header>
{{ if .Page.Site.Params.usecover }}
<div class="p-t-s p-b-s">
  {{ if .Page.Params.cover }}
  <!-- check for featured image -->
  {{ $image := .Resources.GetMatch "cover.jpg" }}
  {{ if $image }}
  {{ partial "banner.html" (dict "Destination" $image.RelPermalink) }}
  {{ else }}
  <!-- check for blog cover image -->
  {{ $image := resources.GetMatch "images/blog-cover.jpg"}}
  {{ if $image }}
  {{ partial "banner.html" (dict "Destination" $image.RelPermalink) }}
  {{ else }}
  <!-- no image set notice -->
  <div class="p-3 text-center">NO BANNER IMAGE SET</div>
  {{ end }}
  {{ end }}

  {{ else }}
  <!-- use default blog cover -->
  {{ $image := resources.GetMatch "images/blog-cover.jpg"}}
  {{ if $image }}
  {{ partial "banner.html" (dict "Destination" $image.RelPermalink) }}
  {{ else }}
  <!-- no image set notice -->
  <div class="p-3 text-center">NO BANNER IMAGE SET</div>
  {{ end }}
  {{ end }}
</div>
{{ end }}