<header class="header p-3">
  <div class="blog-title">
    <h1>{{ .Site.Title }}</h1>
  </div>
  {{- with .Site.Menus.main }}
  <div class="main-navigation">
    <nav class="navigation">
      <div class="main-navigation-container relative">
        <div class="mobile-nav-close">
          <span class="mobile-nav-close-icon"></span>
        </div>
        <ul class="navigation-list">
          {{- range $key, $item := . }}
          {{- if ne $key 0 }}
          {{ $.Site.Params.menu_item_separator | default " - " | safeHTML }}
          {{ end }}
          <li class="navgation-item">
            <a class="navigation-link" href="{{ $item.URL }}">{{ $item.Name }}</a>
          </li>
          {{- end }}
        </ul>
      </div>
    </nav>
  </div>
  <div class="mobile-nav-open">
    <span class="mobile-nav-open-icon"></span>
  </div>
  {{- end }}
</header>
{{ if .Page.Site.Params.usecover }}
<div class="p-t-s p-b-s">
  {{ if .Page.Params.cover }}
  <!-- check for featured image -->
  {{ else }}
  <!-- use default -->
  {{ $image := .Resources.GetMatch "images/blog.cover.jpg.jpg" }}
  {{ if $image }}
  {{ else }}
  {{ $image := resources.GetMatch "images/blog-cover.jpg"}}
  {{ if $image }}
  {{ partial "banner.html" (dict "Destination" $image.RelPermalink) }}
  {{ else }}
  <div class="p-3 text-center">NO BANNER IMAGE SET</div>
  {{ end }}
  {{ end }}
  {{ end }}
</div>
{{ end }}